In [1]:
import pandas as pd
from data_preparation import *
from football_scraper import *

In [2]:
# Create a scrapper for premier league
fb_scrapper_pl = FootballScrapper(League.PREMIER_LEAGUE)

fb_scrapper_pl.get_data()

In [3]:
fb_scrapper_pl.to_csv()

### Schedule process

In [2]:
df_schedule = pd.read_csv('data/Premier-League/Premier-League_schedule.csv', header=1, index_col=0)
df_schedule.head()

,Sem.,Jour,Date,Heure,Domicile,xG,Score,xG.1,Extérieur,Affluence,Tribune,Arbitre,Rapport de match,Notes
0,,,,,,,,,,,,,,
1,1.0,Ven,2023-08-11,20:00,Burnley,0.3,0–3,1.9,Manchester City,"21,572",Turf Moor,Craig Pawson,Rapport de match,NaN
2,1.0,Sam,2023-08-12,12:30,Arsenal,0.8,2–1,1.2,Nott'ham Forest,"59,984",Emirates Stadium,Michael Oliver,Rapport de match,NaN
3,1.0,Sam,2023-08-12,15:00,Everton,2.7,0–1,1.5,Fulham,"39,940",Goodison Park,Stuart Attwell,Rapport de match,NaN
4,1.0,Sam,2023-08-12,15:00,Sheffield Utd,0.5,0–1,1.9,Crystal Palace,"31,194",Bramall Lane,John Brooks,Rapport de match,NaN
5,1.0,Sam,2023-08-12,15:00,Brighton,4.0,4–1,1.5,Luton Town,"31,872",The American Express Community Stadium,David Coote,Rapport de match,NaN

In [3]:
df_schedule = add_fulldate_column(df_schedule)
df_schedule = get_finished_matches(df_schedule)
df_schedule = add_goals_column(df_schedule)
df_schedule

,Sem.,Jour,Date,Heure,Domicile,xG,Score,xG.1,Extérieur,Affluence,Tribune,Arbitre,Rapport de match,Notes,FullDate,domicile_but,exterieur_but
0,,,,,,,,,,,,,,,,,
1,1.0,Ven,2023-08-11,20:00,Burnley,0.3,0–3,1.9,Manchester City,"21,572",Turf Moor,Craig Pawson,Rapport de match,NaN,2023-08-11 20:00:00,0,3
2,1.0,Sam,2023-08-12,12:30,Arsenal,0.8,2–1,1.2,Nott'ham Forest,"59,984",Emirates Stadium,Michael Oliver,Rapport de match,NaN,2023-08-12 12:30:00,2,1
3,1.0,Sam,2023-08-12,15:00,Everton,2.7,0–1,1.5,Fulham,"39,940",Goodison Park,Stuart Attwell,Rapport de match,NaN,2023-08-12 15:00:00,0,1
4,1.0,Sam,2023-08-12,15:00,Sheffield Utd,0.5,0–1,1.9,Crystal Palace,"31,194",Bramall Lane,John Brooks,Rapport de match,NaN,2023-08-12 15:00:00,0,1
5,1.0,Sam,2023-08-12,15:00,Brighton,4.0,4–1,1.5,Luton Town,"31,872",The American Express Community Stadium,David Coote,Rapport de match,NaN,2023-08-12 15:00:00,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72,7.0,Sam,2023-09-30,15:00,Manchester Utd,1.3,0–1,0.9,Crystal Palace,"73,428",Old Trafford,Chris Kavanagh,Rapport de match,NaN,2023-09-30 15:00:00,0,1
73,7.0,Sam,2023-09-30,17:30,Tottenham,2.2,2–1,1.3,Liverpool,"62,001",Tottenham Hotspur Stadium,Simon Hooper,Rapport de match,NaN,2023-09-30 17:30:00,2,1
74,7.0,Dim,2023-10-01,14:00,Nott'ham Forest,0.5,1–1,1.6,Brentford,"29,004",The City Ground,Paul Tierney,Rapport de match,NaN,2023-10-01 14:00:00,1,1
75,7.0,Lun,2023-10-02,20:00,Fulham,1.1,0–2,1.7,Chelsea,"24,445",Craven Cottage,Tim Robinson,Rapport de match,NaN,2023-10-02 20:00:00,0,2
77,2.0,Mar,2023-10-03,19:30,Luton Town,1.3,1–2,1.1,Burnley,"10,918",Kenilworth Road Stadium,Peter Bankes,Rapport de match,NaN,2023-10-03 19:30:00,1,2

### Stats0 process

In [24]:
df_stats0 = pd.read_csv('data/Premier-League/Premier-League_stats_0.csv', header=1, index_col=0)
df_stats0.head()

,Clt,Équipe,MJ,V,N,D,BM,BE,DB,Pts,Pts/MJ,xG,xGA,xGD,xGD/90,5 derniers,Affluence,Meilleur buteur de l'équipe,Gardien de but,Notes
0,,,,,,,,,,,,,,,,,,,,
1,1,Manchester City,7,6,0,1,17,5,12,18,2.57,14.4,5.1,9.3,1.33,V V V V D,"35,437",Erling Haaland - 8,Ederson,NaN
2,2,Tottenham,7,5,2,0,17,8,9,17,2.43,13.1,10.0,3.1,0.44,V V V N V,"61,872",Son Heung-min - 6,Guglielmo Vicario,NaN
3,3,Arsenal,7,5,2,0,15,6,9,17,2.43,14.5,6.1,8.4,1.20,N V V N V,"60,073",Bukayo Saka - 4,Aaron Ramsdale,NaN
4,4,Liverpool,7,5,1,1,16,7,9,16,2.29,14.5,9.2,5.3,0.76,V V V V D,"51,130","Mohamed Salah, Darwin Núñez - 3",Alisson,NaN
5,5,Aston Villa,7,5,0,2,18,11,7,15,2.14,13.5,11.3,2.1,0.30,V D V V V,"41,046",Ollie Watkins - 4,Emiliano Martínez,NaN

In [25]:
# Remove useless columns
df_stats0.drop(columns=['Affluence', 'Meilleur buteur de l\'équipe', 'Gardien de but', 'Notes'], inplace=True)

# Drop column that are already in another dataset
df_stats0.drop(columns=['xG', 'xGA', 'xGD', 'xGD/90'], inplace=True)

df_stats0.head()

   Clt           Équipe  MJ  V  N  D  BM  BE  DB  Pts  Pts/MJ 5 derniers
0
1    1  Manchester City   7  6  0  1  17   5  12   18    2.57  V V V V D
2    2        Tottenham   7  5  2  0  17   8   9   17    2.43  V V V N V
3    3          Arsenal   7  5  2  0  15   6   9   17    2.43  N V V N V
4    4        Liverpool   7  5  1  1  16   7   9   16    2.29  V V V V D
5    5      Aston Villa   7  5  0  2  18  11   7   15    2.14  V D V V V

In [26]:
# Convert the 5 last matches column into usable data
df_stats0[['dernier_1', 'dernier_2', 'dernier_3', 'dernier_4', 'dernier_5']] = df_stats0['5 derniers'].str.split(' ', expand=True)
df_stats0[['dernier_1', 'dernier_2', 'dernier_3', 'dernier_4', 'dernier_5']] = df_stats0[['dernier_1', 'dernier_2', 'dernier_3', 'dernier_4', 'dernier_5']].replace({'D': -1, 'N': 0, 'V': 1})

df_stats0.drop(columns=['5 derniers'], inplace=True)

df_stats0.head()

,Clt,Équipe,MJ,V,N,D,BM,BE,DB,Pts,Pts/MJ,dernier_1,dernier_2,dernier_3,dernier_4,dernier_5
0,,,,,,,,,,,,,,,,
1,1,Manchester City,7,6,0,1,17,5,12,18,2.57,1,1,1,1,-1
2,2,Tottenham,7,5,2,0,17,8,9,17,2.43,1,1,1,0,1
3,3,Arsenal,7,5,2,0,15,6,9,17,2.43,0,1,1,0,1
4,4,Liverpool,7,5,1,1,16,7,9,16,2.29,1,1,1,1,-1
5,5,Aston Villa,7,5,0,2,18,11,7,15,2.14,1,-1,1,1,1

### Stats1 process

In [13]:
# TODO

#df_stats1 = pd.read_csv('data/Premier-League/Premier-League_stats_1.csv', header=1, index_col=0)
#df_stats1.head()

,Unnamed: 1,Unnamed: 2,Domicile,Domicile.1,Domicile.2,Domicile.3,Domicile.4,Domicile.5,Domicile.6,Domicile.7,...,Extérieur.3,Extérieur.4,Extérieur.5,Extérieur.6,Extérieur.7,Extérieur.8,Extérieur.9,Extérieur.10,Extérieur.11,Extérieur.12
0,,,,,,,,,,,,,,,,,,,,,
1,Clt,Équipe,MJ,V,N,D,BM,BE,DB,Pts,...,D,BM,BE,DB,Pts,Pts/MJ,xG,xGA,xGD,xGD/90
2,1,Manchester City,3,3,0,0,8,1,+7,9,...,1,9,4,+5,9,2.25,9.9,2.4,+7.5,+1.88
3,2,Tottenham,3,3,0,0,6,2,+4,9,...,0,11,6,+5,8,2.00,7.0,6.0,+1.0,+0.26
4,3,Arsenal,4,2,2,0,9,6,+3,8,...,0,6,0,+6,9,3.00,6.5,2.0,+4.5,+1.49
5,4,Liverpool,3,3,0,0,9,2,+7,9,...,1,7,5,+2,7,1.75,6.0,6.2,-0.2,-0.05

### Stats2 process

In [28]:
df_stats2 = pd.read_csv('data/Premier-League/Premier-League_stats_2.csv', header=2, index_col=0)
df_stats2.head()

,Équipe,# JC,Âge,Poss,MJ,Titulaire,Min,90,Buts,PD,...,Buts.1,PD.1,B+PD.1,B-PénM.1,B+PD-PénM,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1
1,,,,,,,,,,,,,,,,,,,,,
2,Arsenal,22,24.9,62.1,7,77,630,7.0,14,8,...,2.00,1.14,3.14,1.29,2.43,2.07,1.11,3.18,1.54,2.65
3,Aston Villa,23,27.0,48.6,7,77,630,7.0,17,11,...,2.43,1.57,4.00,2.14,3.71,1.92,1.28,3.20,1.71,2.99
4,Bournemouth,23,25.7,42.9,7,77,630,7.0,5,4,...,0.71,0.57,1.29,0.71,1.29,1.16,0.73,1.89,1.16,1.89
5,Brentford,23,26.3,50.9,7,77,630,7.0,10,6,...,1.43,0.86,2.29,1.14,2.00,1.83,1.32,3.16,1.64,2.96
6,Brighton,24,27.4,62.1,7,77,630,7.0,18,15,...,2.57,2.14,4.71,2.43,4.57,2.03,1.70,3.73,1.92,3.61

In [29]:
# Drop useless columns
df_stats2.drop(columns=['MJ', 'Titulaire', 'Min', '90'], inplace=True)

df_stats2.head()

,Équipe,# JC,Âge,Poss,Buts,PD,B+PD,B-PénM,PénM,PénT,...,Buts.1,PD.1,B+PD.1,B-PénM.1,B+PD-PénM,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1
1,,,,,,,,,,,,,,,,,,,,,
2,Arsenal,22,24.9,62.1,14,8,22,9,5,5,...,2.00,1.14,3.14,1.29,2.43,2.07,1.11,3.18,1.54,2.65
3,Aston Villa,23,27.0,48.6,17,11,28,15,2,2,...,2.43,1.57,4.00,2.14,3.71,1.92,1.28,3.20,1.71,2.99
4,Bournemouth,23,25.7,42.9,5,4,9,5,0,0,...,0.71,0.57,1.29,0.71,1.29,1.16,0.73,1.89,1.16,1.89
5,Brentford,23,26.3,50.9,10,6,16,8,2,2,...,1.43,0.86,2.29,1.14,2.00,1.83,1.32,3.16,1.64,2.96
6,Brighton,24,27.4,62.1,18,15,33,17,1,1,...,2.57,2.14,4.71,2.43,4.57,2.03,1.70,3.73,1.92,3.61

### Stats3 process

In [49]:
df_stats3 = pd.read_csv('data/Premier-League/Premier-League_stats_3.csv', header=2, index_col=0)
df_stats3.head()

,Équipe,# JC,Âge,Poss,MJ,Titulaire,Min,90,Buts,PD,...,Buts.1,PD.1,B+PD.1,B-PénM.1,B+PD-PénM,xG.1,xAG.1,xG+xAG,npxG.1,npxG+xAG.1
1,,,,,,,,,,,,,,,,,,,,,
2,contre Arsenal,22,26.9,37.9,7,77,630,7.0,6,5,...,0.86,0.71,1.57,0.86,1.57,0.87,0.70,1.57,0.87,1.57
3,contre Aston Villa,23,26.6,51.4,7,77,630,7.0,10,9,...,1.43,1.29,2.71,1.43,2.71,1.62,1.46,3.08,1.62,3.08
4,contre Bournemouth,23,26.3,57.1,7,77,630,7.0,14,7,...,2.00,1.00,3.00,1.71,2.71,2.31,1.38,3.69,1.95,3.33
5,contre Brentford,23,27.1,49.1,7,77,630,7.0,10,9,...,1.43,1.29,2.71,1.29,2.57,1.20,0.94,2.13,1.08,2.02
6,contre Brighton,24,27.2,37.9,7,77,630,7.0,13,10,...,1.86,1.43,3.29,1.71,3.14,1.64,1.17,2.81,1.52,2.69

In [50]:
# Drop useless columns
df_stats3.drop(columns=['MJ', 'Titulaire', 'Min', '90'], inplace=True)

# Rename columns to specify it's against the team
df_stats3 = df_stats3.add_suffix('_A')

df_stats3.head()

,Équipe_A,# JC_A,Âge_A,Poss_A,Buts_A,PD_A,B+PD_A,B-PénM_A,PénM_A,PénT_A,...,Buts.1_A,PD.1_A,B+PD.1_A,B-PénM.1_A,B+PD-PénM_A,xG.1_A,xAG.1_A,xG+xAG_A,npxG.1_A,npxG+xAG.1_A
1,,,,,,,,,,,,,,,,,,,,,
2,contre Arsenal,22,26.9,37.9,6,5,11,6,0,0,...,0.86,0.71,1.57,0.86,1.57,0.87,0.70,1.57,0.87,1.57
3,contre Aston Villa,23,26.6,51.4,10,9,19,10,0,0,...,1.43,1.29,2.71,1.43,2.71,1.62,1.46,3.08,1.62,3.08
4,contre Bournemouth,23,26.3,57.1,14,7,21,12,2,3,...,2.00,1.00,3.00,1.71,2.71,2.31,1.38,3.69,1.95,3.33
5,contre Brentford,23,27.1,49.1,10,9,19,9,1,1,...,1.43,1.29,2.71,1.29,2.57,1.20,0.94,2.13,1.08,2.02
6,contre Brighton,24,27.2,37.9,13,10,23,12,1,1,...,1.86,1.43,3.29,1.71,3.14,1.64,1.17,2.81,1.52,2.69

### Stats4 process

In [34]:
df_stats4 = pd.read_csv('data/Premier-League/Premier-League_stats_4.csv', header=2, index_col=0)
df_stats4.head()

,Équipe,# JC,MJ,Titulaire,Min,90,BE,BE90,TCC,Arrêts,...,V,N,D,CS,CS%,PénT,Pc,Pa,Pm,Arrêts%.1
1,,,,,,,,,,,,,,,,,,,,,
2,Arsenal,2,7,7,630,7.0,6,0.86,16,10,...,5,2,0,3,42.9,0,0,0,0,NaN
3,Aston Villa,2,7,7,630,7.0,11,1.57,30,20,...,5,0,2,2,28.6,0,0,0,0,NaN
4,Bournemouth,1,7,7,630,7.0,15,2.14,43,28,...,0,3,4,1,14.3,3,2,1,0,33.3
5,Brentford,1,7,7,630,7.0,10,1.43,27,17,...,1,4,2,1,14.3,1,1,0,0,0.0
6,Brighton,2,7,7,630,7.0,14,2.00,33,20,...,5,0,2,0,0.0,1,1,0,0,0.0

In [35]:
# Drop useless columns
df_stats4.drop(columns=['MJ', 'Titulaire', 'Min', '90', 'V', 'N', 'D', 'Arrêts%.1'], inplace=True)
df_stats4.head()

,Équipe,# JC,BE,BE90,TCC,Arrêts,Arrêts%,CS,CS%,PénT,Pc,Pa,Pm
1,,,,,,,,,,,,,
2,Arsenal,2,6,0.86,16,10,62.5,3,42.9,0,0,0,0
3,Aston Villa,2,11,1.57,30,20,63.3,2,28.6,0,0,0,0
4,Bournemouth,1,15,2.14,43,28,69.8,1,14.3,3,2,1,0
5,Brentford,1,10,1.43,27,17,66.7,1,14.3,1,1,0,0
6,Brighton,2,14,2.00,33,20,60.6,0,0.0,1,1,0,0

### Stats5 process

In [51]:
df_stats5 = pd.read_csv('data/Premier-League/Premier-League_stats_5.csv', header=2, index_col=0)
df_stats5.head()

,Équipe,# JC,MJ,Titulaire,Min,90,BE,BE90,TCC,Arrêts,...,V,N,D,CS,CS%,PénT,Pc,Pa,Pm,Arrêts%.1
1,,,,,,,,,,,,,,,,,,,,,
2,contre Arsenal,2,7,7,630,7.0,15,2.14,42,28,...,0,2,5,0,0.0,5,5,0,0,0.0
3,contre Aston Villa,2,7,7,630,7.0,18,2.57,43,26,...,2,0,5,1,14.3,2,2,0,0,0.0
4,contre Bournemouth,1,7,7,630,7.0,5,0.71,26,21,...,4,3,0,3,42.9,0,0,0,0,NaN
5,contre Brentford,1,7,7,630,7.0,10,1.43,29,19,...,2,4,1,1,14.3,2,2,0,0,0.0
6,contre Brighton,2,7,7,630,7.0,19,2.71,51,33,...,2,0,5,0,0.0,1,1,0,0,0.0

In [52]:
# Drop useless columns
df_stats5.drop(columns=['MJ', 'Titulaire', 'Min', '90', 'Arrêts%.1'], inplace=True)

# Rename columns to specify it's against the team
df_stats5 = df_stats5.add_suffix('_A')

df_stats5.head()

,Équipe_A,# JC_A,BE_A,BE90_A,TCC_A,Arrêts_A,Arrêts%_A,V_A,N_A,D_A,CS_A,CS%_A,PénT_A,Pc_A,Pa_A,Pm_A
1,,,,,,,,,,,,,,,,
2,contre Arsenal,2,15,2.14,42,28,76.2,0,2,5,0,0.0,5,5,0,0
3,contre Aston Villa,2,18,2.57,43,26,62.8,2,0,5,1,14.3,2,2,0,0
4,contre Bournemouth,1,5,0.71,26,21,80.8,4,3,0,3,42.9,0,0,0,0
5,contre Brentford,1,10,1.43,29,19,72.4,2,4,1,1,14.3,2,2,0,0
6,contre Brighton,2,19,2.71,51,33,64.7,2,0,5,0,0.0,1,1,0,0

### Stats6 process

In [39]:
df_stats6 = pd.read_csv('data/Premier-League/Premier-League_stats_6.csv', header=2, index_col=0)
df_stats6.head()

,Équipe,# JC,90,BE,Pc,CF,Co,CSC,PSxG,PSxG/SoT,...,LongMoy,Att.2,% de lancement.1,LongMoy.1,Adv,Stp,Stp%,#ESR,#ESR/90,DistMoy
1,,,,,,,,,,,,,,,,,,,,,
2,Arsenal,2,7.0,6,0,0,1,0,5.1,0.35,...,27.4,22,36.4,35.7,52,7,13.5,13,1.86,18.4
3,Aston Villa,2,7.0,11,0,0,2,1,10.7,0.36,...,28.2,38,44.7,37.6,72,5,6.9,15,2.14,19.0
4,Bournemouth,1,7.0,15,2,1,0,1,17.3,0.35,...,36.7,57,57.9,45.7,68,5,7.4,2,0.29,10.3
5,Brentford,1,7.0,10,1,0,2,0,6.7,0.21,...,30.3,50,40.0,36.0,101,3,3.0,3,0.43,10.1
6,Brighton,2,7.0,14,1,0,1,1,10.6,0.32,...,26.7,21,0.0,10.6,75,5,6.7,7,1.00,14.3

In [40]:
# Drop useless columns
df_stats6.drop(columns=['# JC', '90'], inplace=True)

df_stats6.head()

,Équipe,BE,Pc,CF,Co,CSC,PSxG,PSxG/SoT,PSxG+/-,/90,...,LongMoy,Att.2,% de lancement.1,LongMoy.1,Adv,Stp,Stp%,#ESR,#ESR/90,DistMoy
1,,,,,,,,,,,,,,,,,,,,,
2,Arsenal,6,0,0,1,0,5.1,0.35,-0.9,-0.13,...,27.4,22,36.4,35.7,52,7,13.5,13,1.86,18.4
3,Aston Villa,11,0,0,2,1,10.7,0.36,0.7,0.09,...,28.2,38,44.7,37.6,72,5,6.9,15,2.14,19.0
4,Bournemouth,15,2,1,0,1,17.3,0.35,3.3,0.48,...,36.7,57,57.9,45.7,68,5,7.4,2,0.29,10.3
5,Brentford,10,1,0,2,0,6.7,0.21,-3.3,-0.48,...,30.3,50,40.0,36.0,101,3,3.0,3,0.43,10.1
6,Brighton,14,1,0,1,1,10.6,0.32,-2.4,-0.34,...,26.7,21,0.0,10.6,75,5,6.7,7,1.00,14.3

### Stats7 process

In [54]:
df_stats7 = pd.read_csv('data/Premier-League/Premier-League_stats_7.csv', header=2, index_col=0)
df_stats7.head()

,Équipe,# JC,90,BE,Pc,CF,Co,CSC,PSxG,PSxG/SoT,...,LongMoy,Att.2,% de lancement.1,LongMoy.1,Adv,Stp,Stp%,#ESR,#ESR/90,DistMoy
1,,,,,,,,,,,,,,,,,,,,,
2,contre Arsenal,2,7.0,15,5,0,3,1,14.0,0.22,...,34.1,41,56.1,45.1,109,7,6.4,6,0.86,11.5
3,contre Aston Villa,2,7.0,18,2,0,0,1,16.2,0.34,...,29.2,30,40.0,36.7,73,6,8.2,13,1.86,20.4
4,contre Bournemouth,1,7.0,5,0,0,0,0,6.7,0.26,...,29.1,40,62.5,44.2,76,10,13.2,8,1.14,14.7
5,contre Brentford,1,7.0,10,2,1,0,0,9.4,0.26,...,36.6,50,84.0,56.5,101,12,11.9,15,2.14,17.8
6,contre Brighton,2,7.0,19,1,0,0,1,17.5,0.33,...,37.4,48,68.8,47.6,86,3,3.5,5,0.71,15.3

In [55]:
df_stats7.drop(columns=['# JC', '90'], inplace=True)

# Rename columns to specify it's against the team
df_stats7 = df_stats7.add_suffix('_A')

df_stats7.head()

,Équipe_A,BE_A,Pc_A,CF_A,Co_A,CSC_A,PSxG_A,PSxG/SoT_A,PSxG+/-_A,/90_A,...,LongMoy_A,Att.2_A,% de lancement.1_A,LongMoy.1_A,Adv_A,Stp_A,Stp%_A,#ESR_A,#ESR/90_A,DistMoy_A
1,,,,,,,,,,,,,,,,,,,,,
2,contre Arsenal,15,5,0,3,1,14.0,0.22,0.0,0.00,...,34.1,41,56.1,45.1,109,7,6.4,6,0.86,11.5
3,contre Aston Villa,18,2,0,0,1,16.2,0.34,-0.8,-0.12,...,29.2,30,40.0,36.7,73,6,8.2,13,1.86,20.4
4,contre Bournemouth,5,0,0,0,0,6.7,0.26,1.7,0.24,...,29.1,40,62.5,44.2,76,10,13.2,8,1.14,14.7
5,contre Brentford,10,2,1,0,0,9.4,0.26,-0.6,-0.08,...,36.6,50,84.0,56.5,101,12,11.9,15,2.14,17.8
6,contre Brighton,19,1,0,0,1,17.5,0.33,-0.5,-0.07,...,37.4,48,68.8,47.6,86,3,3.5,5,0.71,15.3

### Stats8 process

In [57]:
df_stats8 = pd.read_csv('data/Premier-League/Premier-League_stats_8.csv', header=2, index_col=0)
df_stats8.head()

,Équipe,# JC,90,Buts,Tirs,TC,TC%,Tir/90,TC/90,B/Tir,B/TC,Dist,CF,PénM,PénT,xG,npxG,npxG/Sh,G-xG,np:G-xG
1,,,,,,,,,,,,,,,,,,,,
2,Arsenal,22,7.0,14,101,37,36.6,14.43,5.29,0.09,0.24,16.2,0,5,5,14.5,10.8,0.11,-0.5,-1.8
3,Aston Villa,23,7.0,17,102,41,40.2,14.57,5.86,0.15,0.37,16.0,3,2,2,13.5,12.0,0.12,3.5,3.0
4,Bournemouth,23,7.0,5,83,26,31.3,11.86,3.71,0.06,0.19,17.6,4,0,0,8.1,8.1,0.10,-3.1,-3.1
5,Brentford,23,7.0,10,100,27,27.0,14.29,3.86,0.08,0.30,14.7,3,2,2,12.8,11.5,0.12,-2.8,-3.5
6,Brighton,24,7.0,18,116,50,43.1,16.57,7.14,0.15,0.34,17.3,1,1,1,14.2,13.4,0.12,3.8,3.6

In [58]:
# Drop already used columns in another dataset
df_stats8.drop(columns=['Buts', 'xG', 'npxG', 'npxG/Sh'], inplace=True)

df_stats8.head()

,Équipe,# JC,90,Tirs,TC,TC%,Tir/90,TC/90,B/Tir,B/TC,Dist,CF,PénM,PénT,G-xG,np:G-xG
1,,,,,,,,,,,,,,,,
2,Arsenal,22,7.0,101,37,36.6,14.43,5.29,0.09,0.24,16.2,0,5,5,-0.5,-1.8
3,Aston Villa,23,7.0,102,41,40.2,14.57,5.86,0.15,0.37,16.0,3,2,2,3.5,3.0
4,Bournemouth,23,7.0,83,26,31.3,11.86,3.71,0.06,0.19,17.6,4,0,0,-3.1,-3.1
5,Brentford,23,7.0,100,27,27.0,14.29,3.86,0.08,0.30,14.7,3,2,2,-2.8,-3.5
6,Brighton,24,7.0,116,50,43.1,16.57,7.14,0.15,0.34,17.3,1,1,1,3.8,3.6

### Stats9 process

In [60]:
df_stats9 = pd.read_csv('data/Premier-League/Premier-League_stats_9.csv', header=2, index_col=0)
df_stats9.head()

,Équipe,# JC,90,Buts,Tirs,TC,TC%,Tir/90,TC/90,B/Tir,B/TC,Dist,CF,PénM,PénT,xG,npxG,npxG/Sh,G-xG,np:G-xG
1,,,,,,,,,,,,,,,,,,,,
2,contre Arsenal,22,7.0,6,67,16,23.9,9.57,2.29,0.09,0.38,16.9,1,0,0,6.1,6.1,0.09,-0.1,-0.1
3,contre Aston Villa,23,7.0,10,79,30,38.0,11.29,4.29,0.13,0.33,15.3,0,0,0,11.3,11.3,0.14,-1.3,-1.3
4,contre Bournemouth,23,7.0,14,119,40,33.6,17.00,5.71,0.10,0.30,16.0,4,2,3,16.2,13.7,0.12,-2.2,-1.7
5,contre Brentford,23,7.0,10,87,26,29.9,12.43,3.71,0.10,0.35,18.2,2,1,1,8.4,7.6,0.09,1.6,1.4
6,contre Brighton,24,7.0,13,90,32,35.6,12.86,4.57,0.13,0.38,16.4,3,1,1,11.4,10.7,0.13,1.6,1.3

In [61]:
# Drop already used columns in another dataset
df_stats9.drop(columns=['Buts', 'xG', 'npxG', 'npxG/Sh'], inplace=True)

# Rename columns to specify it's against the team
df_stats9 = df_stats9.add_suffix('_A')

df_stats9.head()

,Équipe_A,# JC_A,90_A,Tirs_A,TC_A,TC%_A,Tir/90_A,TC/90_A,B/Tir_A,B/TC_A,Dist_A,CF_A,PénM_A,PénT_A,G-xG_A,np:G-xG_A
1,,,,,,,,,,,,,,,,
2,contre Arsenal,22,7.0,67,16,23.9,9.57,2.29,0.09,0.38,16.9,1,0,0,-0.1,-0.1
3,contre Aston Villa,23,7.0,79,30,38.0,11.29,4.29,0.13,0.33,15.3,0,0,0,-1.3,-1.3
4,contre Bournemouth,23,7.0,119,40,33.6,17.00,5.71,0.10,0.30,16.0,4,2,3,-2.2,-1.7
5,contre Brentford,23,7.0,87,26,29.9,12.43,3.71,0.10,0.35,18.2,2,1,1,1.6,1.4
6,contre Brighton,24,7.0,90,32,35.6,12.86,4.57,0.13,0.38,16.4,3,1,1,1.6,1.3

### Stats10 process

In [63]:
df_stats10 = pd.read_csv('data/Premier-League/Premier-League_stats_10.csv', header=2, index_col=0)
df_stats10.head()

,Équipe,# JC,90,Cmp,Att,Cmp%,TotDist,DistBut,Cmp.1,Att.1,...,Cmp%.3,PD,xAG,xA,A-xAG,PC,1/3,PPA,CntSR,PrgP
1,,,,,,,,,,,,,,,,,,,,,
2,Arsenal,22,7.0,3754,4366,86.0,63470,19742,1790,1950,...,62.0,8,7.8,8.5,0.2,79,304,95,13,359
3,Aston Villa,23,7.0,2854,3437,83.0,49689,17050,1261,1404,...,57.1,11,9.0,6.6,2.0,75,234,72,15,261
4,Bournemouth,23,7.0,2159,2848,75.8,38828,13851,948,1074,...,44.6,4,5.1,4.6,-1.1,57,183,56,9,219
5,Brentford,23,7.0,2815,3538,79.6,50687,18553,1241,1411,...,55.0,6,9.3,9.9,-3.3,69,194,64,15,281
6,Brighton,24,7.0,3866,4420,87.5,63699,20766,1921,2068,...,66.6,15,11.9,11.0,3.1,102,247,85,17,342

In [64]:
# Remove useless columns
df_stats10.drop(columns=['90'], inplace=True)

df_stats10.head()

,Équipe,# JC,Cmp,Att,Cmp%,TotDist,DistBut,Cmp.1,Att.1,Cmp%.1,...,Cmp%.3,PD,xAG,xA,A-xAG,PC,1/3,PPA,CntSR,PrgP
1,,,,,,,,,,,,,,,,,,,,,
2,Arsenal,22,3754,4366,86.0,63470,19742,1790,1950,91.8,...,62.0,8,7.8,8.5,0.2,79,304,95,13,359
3,Aston Villa,23,2854,3437,83.0,49689,17050,1261,1404,89.8,...,57.1,11,9.0,6.6,2.0,75,234,72,15,261
4,Bournemouth,23,2159,2848,75.8,38828,13851,948,1074,88.3,...,44.6,4,5.1,4.6,-1.1,57,183,56,9,219
5,Brentford,23,2815,3538,79.6,50687,18553,1241,1411,88.0,...,55.0,6,9.3,9.9,-3.3,69,194,64,15,281
6,Brighton,24,3866,4420,87.5,63699,20766,1921,2068,92.9,...,66.6,15,11.9,11.0,3.1,102,247,85,17,342

### Stats11 process

In [65]:
df_stats11 = pd.read_csv('data/Premier-League/Premier-League_stats_11.csv', header=2, index_col=0)
df_stats11.head()

,Équipe,# JC,90,Cmp,Att,Cmp%,TotDist,DistBut,Cmp.1,Att.1,...,Cmp%.3,PD,xAG,xA,A-xAG,PC,1/3,PPA,CntSR,PrgP
1,,,,,,,,,,,,,,,,,,,,,
2,contre Arsenal,22,7.0,2073,2645,78.4,36436,13581,996,1119,...,48.1,5,4.9,4.6,0.1,49,168,33,3,162
3,contre Aston Villa,23,7.0,3100,3679,84.3,51436,17799,1544,1669,...,55.7,9,10.2,7.5,-1.2,68,202,58,6,246
4,contre Bournemouth,23,7.0,3206,3829,83.7,53776,20702,1539,1697,...,59.3,7,9.6,10.6,-2.6,84,186,75,10,287
5,contre Brentford,23,7.0,2721,3434,79.2,44762,15996,1381,1528,...,44.2,9,6.6,5.9,2.4,62,228,58,12,221
6,contre Brighton,24,7.0,2131,2727,78.1,37466,13784,1005,1121,...,46.8,10,8.2,6.6,1.8,68,170,44,6,215

In [66]:
# Remove useless columns
df_stats11.drop(columns=['90'], inplace=True)

# Rename columns to specify it's against the team
df_stats11 = df_stats11.add_suffix('_A')

df_stats11.head()

,Équipe_A,# JC_A,Cmp_A,Att_A,Cmp%_A,TotDist_A,DistBut_A,Cmp.1_A,Att.1_A,Cmp%.1_A,...,Cmp%.3_A,PD_A,xAG_A,xA_A,A-xAG_A,PC_A,1/3_A,PPA_A,CntSR_A,PrgP_A
1,,,,,,,,,,,,,,,,,,,,,
2,contre Arsenal,22,2073,2645,78.4,36436,13581,996,1119,89.0,...,48.1,5,4.9,4.6,0.1,49,168,33,3,162
3,contre Aston Villa,23,3100,3679,84.3,51436,17799,1544,1669,92.5,...,55.7,9,10.2,7.5,-1.2,68,202,58,6,246
4,contre Bournemouth,23,3206,3829,83.7,53776,20702,1539,1697,90.7,...,59.3,7,9.6,10.6,-2.6,84,186,75,10,287
5,contre Brentford,23,2721,3434,79.2,44762,15996,1381,1528,90.4,...,44.2,9,6.6,5.9,2.4,62,228,58,12,221
6,contre Brighton,24,2131,2727,78.1,37466,13784,1005,1121,89.7,...,46.8,10,8.2,6.6,1.8,68,170,44,6,215

### Stats12 process

In [67]:
df_stats12 = pd.read_csv('data/Premier-League/Premier-League_stats_12.csv', header=2, index_col=0)
df_stats12.head()

,Équipe,# JC,90,Att,Action de jeu,Coup de pied arrêté,CF,Tr,Tr.1,Ctr,PCF,Co,Rentrant,Sortant,Droit,Cmp,HJ,Balles contrées
1,,,,,,,,,,,,,,,,,,
2,Arsenal,22,7.0,4366,4039,311,82,19,18,135,117,64,46,1,0,3754,16,57
3,Aston Villa,23,7.0,3437,3092,340,112,16,29,107,125,37,22,3,0,2854,5,64
4,Bournemouth,23,7.0,2848,2507,330,85,9,16,107,135,31,23,1,2,2159,11,65
5,Brentford,23,7.0,3538,3206,319,81,12,29,129,134,36,18,6,4,2815,13,53
6,Brighton,24,7.0,4420,4087,310,108,14,22,109,92,39,15,10,0,3866,23,51

In [68]:
# Remove useless columns
df_stats12.drop(columns=['90', '# JC', 'Att', 'Cmp'], inplace=True)

df_stats12.head()

,Équipe,Action de jeu,Coup de pied arrêté,CF,Tr,Tr.1,Ctr,PCF,Co,Rentrant,Sortant,Droit,HJ,Balles contrées
1,,,,,,,,,,,,,,
2,Arsenal,4039,311,82,19,18,135,117,64,46,1,0,16,57
3,Aston Villa,3092,340,112,16,29,107,125,37,22,3,0,5,64
4,Bournemouth,2507,330,85,9,16,107,135,31,23,1,2,11,65
5,Brentford,3206,319,81,12,29,129,134,36,18,6,4,13,53
6,Brighton,4087,310,108,14,22,109,92,39,15,10,0,23,51

### Stats13 process

In [69]:
df_stats13 = pd.read_csv('data/Premier-League/Premier-League_stats_13.csv', header=2, index_col=0)
df_stats13.head()

,Équipe,# JC,90,Att,Action de jeu,Coup de pied arrêté,CF,Tr,Tr.1,Ctr,PCF,Co,Rentrant,Sortant,Droit,Cmp,HJ,Balles contrées
1,,,,,,,,,,,,,,,,,,
2,contre Arsenal,22,7.0,2645,2367,269,82,8,9,71,91,21,12,8,0,2073,9,62
3,contre Aston Villa,23,7.0,3679,3361,288,90,22,14,96,104,33,11,17,1,3100,30,65
4,contre Bournemouth,23,7.0,3829,3494,329,100,17,22,94,119,38,14,10,2,3206,6,69
5,contre Brentford,23,7.0,3434,3108,319,79,9,12,126,135,32,12,15,0,2721,7,67
6,contre Brighton,24,7.0,2727,2401,312,103,11,19,93,99,32,20,7,1,2131,14,56

In [70]:
# Remove useless columns
df_stats13.drop(columns=['90', '# JC', 'Att', 'Cmp'], inplace=True)

# Rename columns to specify it's against the team
df_stats13 = df_stats13.add_suffix('_A')

df_stats13.head()

,Équipe_A,Action de jeu_A,Coup de pied arrêté_A,CF_A,Tr_A,Tr.1_A,Ctr_A,PCF_A,Co_A,Rentrant_A,Sortant_A,Droit_A,HJ_A,Balles contrées_A
1,,,,,,,,,,,,,,
2,contre Arsenal,2367,269,82,8,9,71,91,21,12,8,0,9,62
3,contre Aston Villa,3361,288,90,22,14,96,104,33,11,17,1,30,65
4,contre Bournemouth,3494,329,100,17,22,94,119,38,14,10,2,6,69
5,contre Brentford,3108,319,79,9,12,126,135,32,12,15,0,7,67
6,contre Brighton,2401,312,103,11,19,93,99,32,20,7,1,14,56

### Stats14 process

In [71]:
df_stats14 = pd.read_csv('data/Premier-League/Premier-League_stats_14.csv', header=2, index_col=0)
df_stats14.head()

,Équipe,# JC,90,AMT,AMT90,PassJeu,PassArr,TO,Tirs,Ftp,Déf,AMB,AMB90,PassJeu.1,PassArr.1,TO.1,Tirs.1,Ftp.1,Déf.1
1,,,,,,,,,,,,,,,,,,,
2,Arsenal,22,7.0,192,27.43,141,17,12,14,6,2,25,3.57,12,3,2,3,5,0
3,Aston Villa,23,7.0,172,24.57,121,14,8,19,6,4,28,4.00,20,0,2,4,2,0
4,Bournemouth,23,7.0,145,20.71,100,9,14,8,7,7,7,1.00,3,0,2,1,0,1
5,Brentford,23,7.0,172,24.57,114,23,7,13,11,4,17,2.43,11,1,1,0,4,0
6,Brighton,24,7.0,216,30.86,165,15,13,15,6,2,33,4.71,25,0,5,2,1,0

In [72]:
# Remove useless columns
df_stats14.drop(columns=['90', '# JC'], inplace=True)

df_stats14.head()

,Équipe,AMT,AMT90,PassJeu,PassArr,TO,Tirs,Ftp,Déf,AMB,AMB90,PassJeu.1,PassArr.1,TO.1,Tirs.1,Ftp.1,Déf.1
1,,,,,,,,,,,,,,,,,
2,Arsenal,192,27.43,141,17,12,14,6,2,25,3.57,12,3,2,3,5,0
3,Aston Villa,172,24.57,121,14,8,19,6,4,28,4.00,20,0,2,4,2,0
4,Bournemouth,145,20.71,100,9,14,8,7,7,7,1.00,3,0,2,1,0,1
5,Brentford,172,24.57,114,23,7,13,11,4,17,2.43,11,1,1,0,4,0
6,Brighton,216,30.86,165,15,13,15,6,2,33,4.71,25,0,5,2,1,0

### Stats15 process

In [74]:
df_stats15 = pd.read_csv('data/Premier-League/Premier-League_stats_15.csv', header=2, index_col=0)
df_stats15.head()

,Équipe,# JC,90,AMT,AMT90,PassJeu,PassArr,TO,Tirs,Ftp,Déf,AMB,AMB90,PassJeu.1,PassArr.1,TO.1,Tirs.1,Ftp.1,Déf.1
1,,,,,,,,,,,,,,,,,,,
2,contre Arsenal,22,7.0,112,16.00,79,5,5,9,4,10,9,1.29,5,1,1,0,0,2
3,contre Aston Villa,23,7.0,143,20.43,106,15,10,8,3,1,18,2.57,13,1,3,1,0,0
4,contre Bournemouth,23,7.0,209,29.86,142,21,14,18,11,3,24,3.43,14,1,1,3,4,1
5,contre Brentford,23,7.0,145,20.71,104,11,10,9,7,4,19,2.71,12,2,1,0,2,2
6,contre Brighton,24,7.0,154,22.00,105,11,16,13,6,3,21,3.00,14,1,3,3,0,0

In [75]:
# Remove useless columns
df_stats15.drop(columns=['90', '# JC'], inplace=True)

# Rename columns to specify it's against the team
df_stats15 = df_stats15.add_suffix('_A')

df_stats15.head()

,Équipe_A,AMT_A,AMT90_A,PassJeu_A,PassArr_A,TO_A,Tirs_A,Ftp_A,Déf_A,AMB_A,AMB90_A,PassJeu.1_A,PassArr.1_A,TO.1_A,Tirs.1_A,Ftp.1_A,Déf.1_A
1,,,,,,,,,,,,,,,,,
2,contre Arsenal,112,16.00,79,5,5,9,4,10,9,1.29,5,1,1,0,0,2
3,contre Aston Villa,143,20.43,106,15,10,8,3,1,18,2.57,13,1,3,1,0,0
4,contre Bournemouth,209,29.86,142,21,14,18,11,3,24,3.43,14,1,1,3,4,1
5,contre Brentford,145,20.71,104,11,10,9,7,4,19,2.71,12,2,1,0,2,2
6,contre Brighton,154,22.00,105,11,16,13,6,3,21,3.00,14,1,3,3,0,0

### Stats16 process

In [76]:
df_stats16 = pd.read_csv('data/Premier-League/Premier-League_stats_16.csv', header=2, index_col=0)
df_stats16.head()

,Équipe,# JC,90,Tcl,TclR,ZDéf,MilTer,ZOff,Tcl.1,Att,Tcl%,Manqués,Balles contrées,Tirs,Passe,Int,Tcl+Int,Dég,Err
1,,,,,,,,,,,,,,,,,,,
2,Arsenal,22,7.0,119,68,49,52,18,62,107,57.9,45,90,29,61,55,174,84,3
3,Aston Villa,23,7.0,120,69,55,53,12,59,118,50.0,59,79,21,58,44,164,104,1
4,Bournemouth,23,7.0,127,64,56,51,20,66,138,47.8,72,96,32,64,66,193,127,5
5,Brentford,23,7.0,122,80,61,47,14,55,131,42.0,76,85,20,65,55,177,136,4
6,Brighton,24,7.0,120,73,55,49,16,49,143,34.3,94,79,27,52,59,179,105,3

In [77]:
# Remove useless columns
df_stats16.drop(columns=['90', '# JC'], inplace=True)

df_stats16.head()

,Équipe,Tcl,TclR,ZDéf,MilTer,ZOff,Tcl.1,Att,Tcl%,Manqués,Balles contrées,Tirs,Passe,Int,Tcl+Int,Dég,Err
1,,,,,,,,,,,,,,,,,
2,Arsenal,119,68,49,52,18,62,107,57.9,45,90,29,61,55,174,84,3
3,Aston Villa,120,69,55,53,12,59,118,50.0,59,79,21,58,44,164,104,1
4,Bournemouth,127,64,56,51,20,66,138,47.8,72,96,32,64,66,193,127,5
5,Brentford,122,80,61,47,14,55,131,42.0,76,85,20,65,55,177,136,4
6,Brighton,120,73,55,49,16,49,143,34.3,94,79,27,52,59,179,105,3

### Stats17 process

In [78]:
df_stats17 = pd.read_csv('data/Premier-League/Premier-League_stats_17.csv', header=2, index_col=0)
df_stats17.head()

,Équipe,# JC,90,Tcl,TclR,ZDéf,MilTer,ZOff,Tcl.1,Att,Tcl%,Manqués,Balles contrées,Tirs,Passe,Int,Tcl+Int,Dég,Err
1,,,,,,,,,,,,,,,,,,,
2,contre Arsenal,22,7.0,127,73,75,38,14,55,120,45.8,65,83,34,49,52,179,147,3
3,contre Aston Villa,23,7.0,119,73,40,58,21,53,121,43.8,68,73,28,45,56,175,128,7
4,contre Bournemouth,23,7.0,150,89,73,59,18,79,166,47.6,87,80,23,57,59,209,135,5
5,contre Brentford,23,7.0,113,69,49,44,20,55,98,56.1,43,79,32,47,39,152,174,4
6,contre Brighton,24,7.0,130,80,61,53,16,70,129,54.3,59,81,33,48,55,185,120,3

In [79]:
# Remove useless columns
df_stats17.drop(columns=['90', '# JC'], inplace=True)

# Specify it's against the team
df_stats17 = df_stats17.add_suffix('_A')

df_stats17.head()

,Équipe_A,Tcl_A,TclR_A,ZDéf_A,MilTer_A,ZOff_A,Tcl.1_A,Att_A,Tcl%_A,Manqués_A,Balles contrées_A,Tirs_A,Passe_A,Int_A,Tcl+Int_A,Dég_A,Err_A
1,,,,,,,,,,,,,,,,,
2,contre Arsenal,127,73,75,38,14,55,120,45.8,65,83,34,49,52,179,147,3
3,contre Aston Villa,119,73,40,58,21,53,121,43.8,68,73,28,45,56,175,128,7
4,contre Bournemouth,150,89,73,59,18,79,166,47.6,87,80,23,57,59,209,135,5
5,contre Brentford,113,69,49,44,20,55,98,56.1,43,79,32,47,39,152,174,4
6,contre Brighton,130,80,61,53,16,70,129,54.3,59,81,33,48,55,185,120,3

### Stats18 process

In [81]:
df_stats18 = pd.read_csv('data/Premier-League/Premier-League_stats_18.csv', header=2, index_col=0)
df_stats18.head()

,Équipe,# JC,Poss,90,Touches,SurfRépDéf,ZDéf,MilTer,ZOff,SurfRépOff,...,Balle au pied,TotDist,DistBut,PrgC,1/3,CSR,Manqué,Perte,Rec,PrgR
1,,,,,,,,,,,,,,,,,,,,,
2,Arsenal,22,62.1,7.0,5066,384,1328,2195,1579,247,...,3313,16788,8824,160,107,49,91,72,3718,352
3,Aston Villa,23,48.6,7.0,4164,505,1451,1783,964,194,...,2566,14165,7285,137,83,44,95,66,2807,260
4,Bournemouth,23,42.9,7.0,3696,450,1242,1534,978,176,...,2072,12347,6529,119,90,36,100,71,2135,216
5,Brentford,23,50.9,7.0,4318,533,1650,1718,992,207,...,2482,12152,6420,95,62,32,105,58,2779,281
6,Brighton,24,62.1,7.0,5207,544,1584,2400,1263,227,...,3414,17193,9200,172,107,55,109,60,3803,339

In [82]:
# Remove useless columns
df_stats18.drop(columns=['90', '# JC', 'Poss'], inplace=True)

df_stats18.head()

,Équipe,Touches,SurfRépDéf,ZDéf,MilTer,ZOff,SurfRépOff,Action de jeu,Att,Succ,...,Balle au pied,TotDist,DistBut,PrgC,1/3,CSR,Manqué,Perte,Rec,PrgR
1,,,,,,,,,,,,,,,,,,,,,
2,Arsenal,5066,384,1328,2195,1579,247,5061,136,65,...,3313,16788,8824,160,107,49,91,72,3718,352
3,Aston Villa,4164,505,1451,1783,964,194,4162,149,68,...,2566,14165,7285,137,83,44,95,66,2807,260
4,Bournemouth,3696,450,1242,1534,978,176,3696,183,87,...,2072,12347,6529,119,90,36,100,71,2135,216
5,Brentford,4318,533,1650,1718,992,207,4316,114,43,...,2482,12152,6420,95,62,32,105,58,2779,281
6,Brighton,5207,544,1584,2400,1263,227,5206,147,59,...,3414,17193,9200,172,107,55,109,60,3803,339

### Stats19 process

In [84]:
df_stats19 = pd.read_csv('data/Premier-League/Premier-League_stats_19.csv', header=2, index_col=0)
df_stats19.head()

,Équipe,# JC,Poss,90,Touches,SurfRépDéf,ZDéf,MilTer,ZOff,SurfRépOff,...,Balle au pied,TotDist,DistBut,PrgC,1/3,CSR,Manqué,Perte,Rec,PrgR
1,,,,,,,,,,,,,,,,,,,,,
2,contre Arsenal,22,37.9,7.0,3383,538,1422,1291,712,123,...,1890,10048,5250,96,60,37,73,57,2049,159
3,contre Aston Villa,23,51.4,7.0,4393,410,1334,2151,956,168,...,2932,13993,7233,133,88,41,95,61,3073,239
4,contre Bournemouth,23,57.1,7.0,4711,545,1735,1908,1111,236,...,2788,13815,6783,146,76,44,144,61,3149,284
5,contre Brentford,23,49.1,7.0,4233,466,1267,1799,1204,155,...,2447,11950,5887,124,105,30,105,67,2695,220
6,contre Brighton,24,37.9,7.0,3474,473,1302,1426,795,174,...,2072,11395,5395,122,80,60,82,71,2120,214

In [85]:
# Remove useless columns
df_stats19.drop(columns=['90', '# JC', 'Poss'], inplace=True)

# Specify it's against the team
df_stats19 = df_stats19.add_suffix('_A')

df_stats19.head()

,Équipe_A,Touches_A,SurfRépDéf_A,ZDéf_A,MilTer_A,ZOff_A,SurfRépOff_A,Action de jeu_A,Att_A,Succ_A,...,Balle au pied_A,TotDist_A,DistBut_A,PrgC_A,1/3_A,CSR_A,Manqué_A,Perte_A,Rec_A,PrgR_A
1,,,,,,,,,,,,,,,,,,,,,
2,contre Arsenal,3383,538,1422,1291,712,123,3383,122,45,...,1890,10048,5250,96,60,37,73,57,2049,159
3,contre Aston Villa,4393,410,1334,2151,956,168,4393,134,59,...,2932,13993,7233,133,88,41,95,61,3073,239
4,contre Bournemouth,4711,545,1735,1908,1111,236,4708,159,72,...,2788,13815,6783,146,76,44,144,61,3149,284
5,contre Brentford,4233,466,1267,1799,1204,155,4232,136,76,...,2447,11950,5887,124,105,30,105,67,2695,220
6,contre Brighton,3474,473,1302,1426,795,174,3473,167,94,...,2072,11395,5395,122,80,60,82,71,2120,214

### Stats20 process

In [86]:
df_stats20 = pd.read_csv('data/Premier-League/Premier-League_stats_20.csv', header=2, index_col=0)
df_stats20.head()

,Équipe,# JC,Âge,MJ,Min,Mn/MJ,Min%,90,Titulaire,Mn/Débuté,...,RempNE,PPM,BT,BE,+/-,+/-90,onxG,onxGA,xG+/-,xG+/-90
1,,,,,,,,,,,,,,,,,,,,,
2,Arsenal,22,24.9,7,630,90,100,7.0,77,82,...,33,2.43,15,6,9,1.29,14.5,6.1,8.4,1.20
3,Aston Villa,23,27.0,7,630,90,100,7.0,77,83,...,32,2.14,18,11,7,1.00,13.5,11.3,2.1,0.30
4,Bournemouth,23,25.7,7,630,90,100,7.0,77,82,...,31,0.43,5,15,-10,-1.43,8.1,16.2,-8.1,-1.15
5,Brentford,23,26.3,7,630,90,100,7.0,77,83,...,32,1.00,10,10,0,0.00,12.8,8.4,4.5,0.64
6,Brighton,24,27.4,7,630,90,100,7.0,77,81,...,29,2.14,19,14,5,0.71,14.2,11.4,2.8,0.39

In [87]:
# Remove useless columns
df_stats20.drop(columns=['# JC', 'Âge', 'MJ', 'Min', 'Mn/MJ', 'Min%', '90', 'Titulaire', 'Mn/Débuté', 'Compl', 'Remp', 'Mn/Remp', 'RempNE'], inplace=True)

df_stats20.head()

        Équipe   PPM  BT  BE  +/-  +/-90  onxG  onxGA  xG+/-  xG+/-90
1
2      Arsenal  2.43  15   6    9   1.29  14.5    6.1    8.4     1.20
3  Aston Villa  2.14  18  11    7   1.00  13.5   11.3    2.1     0.30
4  Bournemouth  0.43   5  15  -10  -1.43   8.1   16.2   -8.1    -1.15
5    Brentford  1.00  10  10    0   0.00  12.8    8.4    4.5     0.64
6     Brighton  2.14  19  14    5   0.71  14.2   11.4    2.8     0.39

### Stats21 process

In [88]:
df_stats21 = pd.read_csv('data/Premier-League/Premier-League_stats_21.csv', header=2, index_col=0)
df_stats21.head()

,Équipe,# JC,Âge,MJ,Min,Mn/MJ,Min%,90,Titulaire,Mn/Débuté,...,RempNE,PPM,BT,BE,+/-,+/-90,onxG,onxGA,xG+/-,xG+/-90
1,,,,,,,,,,,,,,,,,,,,,
2,contre Arsenal,22,26.9,7,630,90,100,7.0,77,82,...,34,0.29,6,15,-9,-1.29,6.1,14.5,-8.4,-1.20
3,contre Aston Villa,23,26.6,7,630,90,100,7.0,77,83,...,32,0.86,11,18,-7,-1.00,11.3,13.5,-2.1,-0.30
4,contre Bournemouth,23,26.3,7,630,90,100,7.0,77,82,...,32,2.14,15,5,10,1.43,16.2,8.1,8.1,1.15
5,contre Brentford,23,27.1,7,630,90,100,7.0,77,83,...,42,1.43,10,10,0,0.00,8.4,12.8,-4.5,-0.64
6,contre Brighton,24,27.2,7,630,90,100,7.0,77,81,...,32,0.86,14,19,-5,-0.71,11.4,14.2,-2.8,-0.39

In [89]:
# Remove useless columns
df_stats21.drop(columns=['# JC', 'Âge', 'MJ', 'Min', 'Mn/MJ', 'Min%', '90', 'Titulaire', 'Mn/Débuté', 'Compl', 'Remp', 'Mn/Remp', 'RempNE'], inplace=True)

# Specify it's against the team
df_stats21 = df_stats21.add_suffix('_A')

df_stats21.head()

,Équipe_A,PPM_A,BT_A,BE_A,+/-_A,+/-90_A,onxG_A,onxGA_A,xG+/-_A,xG+/-90_A
1,,,,,,,,,,
2,contre Arsenal,0.29,6,15,-9,-1.29,6.1,14.5,-8.4,-1.20
3,contre Aston Villa,0.86,11,18,-7,-1.00,11.3,13.5,-2.1,-0.30
4,contre Bournemouth,2.14,15,5,10,1.43,16.2,8.1,8.1,1.15
5,contre Brentford,1.43,10,10,0,0.00,8.4,12.8,-4.5,-0.64
6,contre Brighton,0.86,14,19,-5,-0.71,11.4,14.2,-2.8,-0.39

### Stats22 process

In [90]:
df_stats22 = pd.read_csv('data/Premier-League/Premier-League_stats_22.csv', header=2, index_col=0)
df_stats22.head()

,Équipe,# JC,90,CJ,CR,2CrtJ,Fte,Ftp,HJ,Ctr,Int,TclR,Préussi,Pcon,CSC,Récupération,Gagnés,Perdus,% gagnés
1,,,,,,,,,,,,,,,,,,,
2,Arsenal,22,7.0,12,1,1,68,78,16,135,55,68,4,0,0,333,79,85,48.2
3,Aston Villa,23,7.0,20,0,0,86,84,5,107,44,69,2,0,1,334,48,58,45.3
4,Bournemouth,23,7.0,11,0,0,96,78,11,107,66,64,0,3,1,373,67,103,39.4
5,Brentford,23,7.0,13,0,0,70,78,13,129,55,80,2,1,0,374,130,120,52.0
6,Brighton,24,7.0,22,0,0,88,96,23,109,59,73,1,1,1,348,66,51,56.4

In [91]:
# Remove useless columns
df_stats22 = df_stats22[['Fte', 'Préussi', 'Pcon', 'Récupération', 'Gagnés', 'Perdus', '% gagnés']]

df_stats22.head()

   Fte  Préussi  Pcon  Récupération  Gagnés  Perdus  % gagnés
1
2   68        4     0           333      79      85      48.2
3   86        2     0           334      48      58      45.3
4   96        0     3           373      67     103      39.4
5   70        2     1           374     130     120      52.0
6   88        1     1           348      66      51      56.4

### Stats23 process

In [52]:
df_stats23 = pd.read_csv('data/Premier-League/Premier-League_stats_23.csv', header=2, index_col=0)
df_stats23.head()

,Équipe,# JC,90,CJ,CR,2CrtJ,Fte,Ftp,HJ,Ctr,Int,TclR,Préussi,Pcon,CSC,Récupération,Gagnés,Perdus,% gagnés
1,,,,,,,,,,,,,,,,,,,
2,contre Arsenal,22,7.0,18,1,1,80,61,9,71,52,73,0,5,1,303,85,79,51.8
3,contre Aston Villa,23,7.0,19,1,0,87,81,30,96,56,73,0,2,1,368,58,48,54.7
4,contre Bournemouth,23,7.0,18,1,0,84,93,6,94,59,89,3,0,0,365,103,67,60.6
5,contre Brentford,23,7.0,18,2,2,80,69,7,126,39,69,1,2,0,348,120,130,48.0
6,contre Brighton,24,7.0,23,1,1,96,84,14,93,55,80,0,1,1,321,51,66,43.6

In [92]:
# Remove useless columns
df_stats23 = df_stats22[['Fte', 'Préussi', 'Pcon', 'Récupération', 'Gagnés', 'Perdus', '% gagnés']]

# Specify it's against the team
df_stats23 = df_stats23.add_suffix('_A')

df_stats23.head()

   Fte_A  Préussi_A  Pcon_A  Récupération_A  Gagnés_A  Perdus_A  % gagnés_A
1
2     68          4       0             333        79        85        48.2
3     86          2       0             334        48        58        45.3
4     96          0       3             373        67       103        39.4
5     70          2       1             374       130       120        52.0
6     88          1       1             348        66        51        56.4